# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate

# Xcode build data
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/

# Other Xcode metadata
*.xccheckout
*.xcscmblueprint
